<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%} {{ page.title }} {%- else -%} {{ site.title }} {%-
    endif -%}
  </title>

  {%-seo title=false-%} {%-feed_meta-%}

  <meta name="title" content="Hi, I’m Byeonghyeon Kang 👋🧑‍💻" />
  <meta name="description" content="byeonghyeon kang's dev blog" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://kang-kibong.github.io/" />
  <meta property="og:title" content="Hi, I’m Byeonghyeon Kang 👋🧑‍💻" />
  <meta property="og:description" content="byeonghyeon kang's dev blog" />
  <meta property="og:image" content="logo.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://kang-kibong.github.io/" />
  <meta property="twitter:title" content="Hi, I’m Byeonghyeon Kang 👋🧑‍💻" />
  <meta property="twitter:description" content="byeonghyeon kang's dev blog" />
  <meta property="twitter:image" content="logo.png" />

  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ site.favicon | relative_url }}"
  />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
</head>
