<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%} {{ page.title }} {%- else -%} {{ site.title }} {%-
    endif -%}
  </title>

  {%-seo title=false-%} {%-feed_meta-%}

  <meta name="title" content="Kang Byeong-hyeon 👨🏻‍💻" />
  <meta name="description" content="Kang Byeong-hyeon's dev blog" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://kang-kibong.github.io/" />
  <meta property="og:title" content="Kang Byeong-hyeon 👨🏻‍💻" />
  <meta property="og:description" content="Kang Byeong-hyeon's dev blog" />
  <meta property="og:image" content="logo.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://kang-kibong.github.io/" />
  <meta property="twitter:title" content="Kang Byeong-hyeon 👨🏻‍💻" />
  <meta property="twitter:description" content="Kang Byeong-hyeon's dev blog" />
  <meta property="twitter:image" content="logo.png" />

  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ site.favicon | relative_url }}"
  />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  <script>
    window.addEventListener("scroll", function () {
      const header = document.querySelector(".background-header");
      const scrollY = window.scrollY;
      const positionY = 50 + scrollY * 0.03;
      header.style.backgroundPosition = `center ${positionY}%`;
    });
  </script>
  <script>
    window.addEventListener("scroll", function () {
      const background = document.querySelector(".background");
      const profile1 = document.querySelector(".profile1");
      const profile2 = document.querySelector(".profile2");
      const scrollY = window.scrollY;
      const positionY = 50 + scrollY * 0.03;
      background.style.backgroundPosition = `center ${positionY}%`;
      const subPositionY = 0 + scrollY * 0.03;
      profile1.style.backgroundPosition = `center ${subPositionY}%`;
      profile2.style.backgroundPosition = `center ${subPositionY}%`;
    });
  </script>

  <!-- Google Adsense -->
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8692933662942054"
    crossorigin="anonymous"
  ></script>
</head>
