// -------------- THEME SWITCHER -------------- //
// @mixin dark-appearance {
//   filter: invert(0);
//   img {
//     filter: invert(0);

//     &.ioda {
//       filter: invert(1);
//     }
//   }
// }

// body[a="dark"] {
//   @include dark-appearance;
// }

// @media (prefers-color-scheme: dark) {
//   body[a="auto"] {
//     @include dark-appearance;
//   }
// }
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html,
body {
  background: rgb(17, 17, 17);
}

html {
  height: 100%;
}

body {
  color: #fff;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta {
  text-align: right;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
}

a {
  color: #b9b9b9;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.1s ease;

  &:hover {
    color: rgb(255, 111, 15);
  }
}

li {
  margin: 0.4rem 0;
}

*:target {
  background: yellow;
}

.w {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1.5rem 4rem 1.5rem;
}

hr {
  text-align: center;
  border: 0;

  &:before {
    content: "/////";
  }
  &:after {
    content: attr(data-content) "/////";
  }
}

table {
  border: thin solid #b9b9b9;
  border-radius: 8px;
  padding: 20px 0;
}

th,
td {
  border-collapse: collapse;
}

code {
  color: white;
  background: #222;
  border-radius: 4px;
  padding: 2px 4px;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1.3rem;
  border-radius: 18px;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p {
    margin: 0;
  }
}

img {
  max-width: 85%;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

// Header
.background-header {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 450px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-position 0.1s ease-out;
}

header h1 {
  text-align: center;
  font-size: 24px;
  color: #000;
  margin-bottom: 30px;
}

// Profile
.title {
  strong {
    color: rgb(255, 111, 15);
    text-decoration: underline;
  }
}

.profile {
  padding: 62px 0 62px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  p > strong {
    color: rgb(255, 111, 15);
    text-decoration: underline;
  }

  .contact {
    padding-top: 16px;
    font-size: 14px;

    a {
      color: #fff;
      margin-right: 18px;
    }
  }
}

.profile-image {
  width: 250px;
  height: 250px;
  background-image: url("../images/profile.png");
  background-position: center;
  background-size: cover;
  background-position-x: -50px;
  background-repeat: no-repeat;
}

// List
.list {
  color: rgb(255, 111, 15);
}

// Post
.post-title {
  // color: rgb(255, 111, 15);
  text-decoration: underline;
}

@media screen and (max-width: "600px") {
  // Header
  header h1 {
    font-size: 18px;
  }

  .background-header {
    height: 350px;
  }

  // Profile
  .profile {
    flex-direction: column;
  }

  .contact {
    text-align: center;
    margin-bottom: 26px;
  }
}
