---
layout: default
---

<header>
  <h1>{{ site.title }}</h1>
  <div class="profile">
    <div>
      <p><strong>웹 프론트엔드</strong> 개발을 좋아해요.</p>
      <p><strong>기록</strong>하고 <strong>공유</strong>하는 걸 좋아해요.</p>
      <p>
        <strong>건강한 협업</strong>에 대해 모색하고<br />
        함께 <strong>성장</strong>하는 걸 중요시해요.
      </p>
      <div class="contact">
        <a href="https://github.com/kang-kibong" target="_blank"
          >🐱 <span>Github</span></a
        >
        <a href="mailto:byeonghyeon.dev@gmail.com">📧 <span>Email</span></a>
      </div>
    </div>

    <div class="profile-image"></div>
  </div>

  {%-if site.theme_config.show_description-%}
  <p>{{ site.description }}</p>

  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%} {{ content }}
